/* Nav tabs */
#nav .bottom .item {
	background: transparent url(/assets/nav-item.png) no-repeat bottom center;
	height: 60px;
	width: 202px;
	text-align: center;
	float: left;
	position: relative;
	left: 60px;
	z-index: 0;
}

	#nav .bottom .item > p {
		padding-top: 20px;
	}
	
#nav .bottom .item:last-child {
	left: 0px;
}

#nav .bottom .item.current {
	z-index: 1;
}

/* Buttons */
.button {
  color: #e05e61;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 8px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#e7e7e7));
  background-image: -moz-linear-gradient(270deg, white 0%, #e7e7e7 100%);
  -moz-box-shadow: 0 2px 5px #515151;
  -webkit-box-shadow: 0 2px 5px #515151;
  box-shadow: 0 2px 5px #515151;
  border-radius: 8px;
}

.plus-img {
  margin-left: 8px;
  vertical-align: -3px;
}